* {
    font-family: Georgia;
  }

  #top {
    background-image: url("https://www.arcgis.com/sharing/rest/content/items/cbe2b3319349402c8ea1e11ebeff1185/resources/1578316937202.jpeg?w=3117");
    background-size: cover;
    background-position: bottom center;
    height: 500px;
    width: 100%;
    color: rgb(255, 255, 255);
  }

  #top .content {
    position: relative;
    margin: 0 auto;
    width: 100%;
    opacity: 100%;
    left: 60px;
    top: 430px;
  }

  #rec {
    border: 2px dotted darkslategray;
    border-radius: 0%;
    padding: 10px;
    width: 30%;
    margin: 0 auto;
    text-align: center;
  }

  p, 
  li {
    font-size: 18px;
    color: rgb(23, 26, 24);
  }
  
  
  a {
    text-decoration: none;
  }

  img {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.button {
    color: #fff;
    background-color: black;
    border: none;
    width: 105px;
    height: 35px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    padding: 12px 28px;
    border-radius: 4px
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}